<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136477109824-v84a1ohr381pim85bcsj5ege57t14jm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136477109824-v84a1ohr381pim85bcsj5ege57t14jm4</string>
	<key>API_KEY</key>
	<string>AIzaSyDu0pfSj4Sb_TvbTETfgwt22FS21Es0YNI</string>
	<key>GCM_SENDER_ID</key>
	<string>136477109824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.confesi.app</string>
	<key>PROJECT_ID</key>
	<string>confesi-server-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>confesi-server-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136477109824:ios:81ebae5aa4c5b48c23b9a5</string>
</dict>
</plist>